//
   Created by zhangpeng on 2015/12/11.
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title #{title}
        include pages/includes/head
    body
        include pages/includes/header
        block content


footer END
