<ul>
<% for(i=0;i<movies.length;i++){ %>
    <li>
        <span><%= movies[i]._id %></span>
        <span><%= movies[i].title %></span>
        <span><%= movies[i].poster %></span>
    </li>
    <% } %>
</ul>
